name: CI

on:
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:

permissions:
  contents: write
  packages: write

env:
  CI: true
  HUSKY: 0

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Cache ESLint
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          key: eslint-cache-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml', 'eslint.config.*') }}-${{ github.run_id }}
          path: .eslintcache
          restore-keys: |
            eslint-cache-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml', 'eslint.config.*') }}-
            eslint-cache-${{ runner.os }}-

      - name: Lint
        run: nr lint:ci

      - name: Compile
        run: nr prod:build

      - name: Build project
        run: rojo build ./build.project.json --output place.rbxl
