name: Release Flow

on:
  pull_request:
    types:
      - closed

  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: false
        type: string
permissions:
  contents: write
  packages: write
  pull-requests: write

jobs:
  release_workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: GitFlow workflow action - Release workflows
        uses: christopher-buss/gitflow-workflow-action@8053671e9f67cd273a2e47eb4939ba54920ef99e
        with:
          develop_branch: develop
          main_branch: main
          merge_back_from_main: false
          version: ${{ inputs.version }}
